body{
}

.flexbox-container-vr{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

.flexbox-container-hr{
    display: flex;
    flex-direction: row;
}

.flexbox-centered{
    width: 100px;
    flex-shrink: 0;
}

.flexbox-item1{
    width: 500px;
    flex-shrink: 0;
}

.containerCentered{
    display: flex;
    justify-content: center;
}

a:visited{
    color:red;
}

a{
    color:black;
}

p{
    font-size: 120%;
}

*{
    /*border: 2px solid red;*/
    box-sizing: border-box;
}

li{
    /*border: 2px solid blue;*/
    /*display: inline-block;*/
}